*build
cmake-build-debug
.idea
*.sed-backup
.DS_Store
*build_for_gdey*
log
__idf_soc.dir
CMakeFiles
**/**/esp-idf/
CMakeCache.txt
tmp
bootloader-stamp

partition_table/
managed_components/
base_idf_image/cache

.vscode/*
!.vscode/launch.json

debug.log
sdkconfig
sdkconfig.defaults
sdkconfig.old
*.bin
*.hex
v*_gdem*
v*_gdey*